body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
}
#u257 {
  position:absolute;
  left:75px;
  top:120px;
  width:375px;
  height:554px;
  font-size:16px;
}
#u258 {
  position:absolute;
  left:2px;
  top:257px;
  width:371px;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u259 {
  position:absolute;
  left:75px;
  top:60px;
  width:375px;
  height:20px;
}
#u260 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u261 {
  position:absolute;
  left:75px;
  top:77px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u262 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u263 {
  position:absolute;
  left:190px;
  top:26px;
  width:145px;
  height:22px;
  font-size:16px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u265_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:120px;
  height:111px;
}
#u265 {
  position:absolute;
  left:212px;
  top:246px;
  width:100px;
  height:100px;
}
#u266 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
}
#u267 {
  position:absolute;
  left:560px;
  top:120px;
  width:375px;
  height:554px;
  font-size:16px;
}
#u268 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u269_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u269 {
  position:absolute;
  left:560px;
  top:60px;
  width:375px;
  height:20px;
}
#u270 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u271 {
  position:absolute;
  left:560px;
  top:77px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u272 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u273 {
  position:absolute;
  left:642px;
  top:26px;
  width:215px;
  height:22px;
  font-size:16px;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:61px;
}
#u275 {
  position:absolute;
  left:608px;
  top:310px;
  width:280px;
  height:61px;
  font-size:16px;
}
#u276 {
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
}
#u277 {
  position:absolute;
  left:1050px;
  top:120px;
  width:375px;
  height:554px;
  font-size:16px;
}
#u278 {
  position:absolute;
  left:2px;
  top:266px;
  width:371px;
  word-wrap:break-word;
}
#u279_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u279 {
  position:absolute;
  left:1050px;
  top:60px;
  width:375px;
  height:20px;
}
#u280 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u281 {
  position:absolute;
  left:1050px;
  top:77px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u282 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u283_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u283 {
  position:absolute;
  left:1117px;
  top:26px;
  width:241px;
  height:22px;
  font-size:16px;
}
#u284 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u285_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:120px;
  height:111px;
}
#u285 {
  position:absolute;
  left:1188px;
  top:260px;
  width:100px;
  height:100px;
}
#u286 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u287 {
  position:absolute;
  left:198px;
  top:427px;
  width:130px;
  height:38px;
  font-size:16px;
}
#u288 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
