
html, body, div, span, h1, h2, h3, h4, h5, h6, em, img, strong, sub, sup, tt,dd, dl, dt, form, label, table, caption, tbody, tfoot, thead, tr, th, td,ul,li,p,a{ margin: 0; padding: 0;  }
:focus {outline: 0; } 
.left{ float:left;}
.right{ float:right;}
.overhide{overflow:hidden;text-indent:-100em; }
.clear {clear: both; height:0; line-height:0; font-size:0;}
.clearfix:after {clear: both;content: ' ';display: block;font-size: 0;line-height: 0;visibility: hidden;width: 0;height: 0;}
.clearfix{zoom:1}
.red{ color:#f00000;}
.orange{ color:#f08200;}
.one{ background:#f6f6f6;}
.two{ background:#fff;}
.on_m
{
    margin-bottom:0;
}
.on_r_b
{ border-right:none;
}
.on_l_b
{ border-left:none;
}
._ogo{ background:url(../images/logo.png) no-repeat; height:45px; }


.
/
/*DAAform*/
.form_list2 {background:#dde8f3; border-top:#8fa0b1 solid 2px;  border-bottom:#8fa0b1 solid 2px; width:100%;
}
.form_list{  background:#dde8f3; border-top:#8fa0b1 solid 2px;  border-bottom:#8fa0b1 solid 2px; width:100%; float:left; }
.form_list .info{width:260px;  background:#fff top center no-repeat; padding:20px; border-top:1px solid #ccc;}
.form_list .info  strong{ color:#29578d;}
.form_list .info p{ line-height:28px; }
.form_list .info .infotips {border:2px solid #ff9c00; background:#fffae9; padding:0 5px; color:#333;}
.form_list .form_box{border-top:1px solid #ccc; }
    .form_list .form_box td
    {vertical-align:middle;
     line-height:22px;
    }
.form_list .pic
{ 
   margin:20px 50px;
   width:250px; height:300px;
}
.form_list .form_box .form_t{ line-height:22px; padding-right:10px;  width:80px}
.form_list .form_box .form_t2{ line-height:22px; padding-right:10px;  width:120px}

    .form_list .form_box .form_t p{ line-height:24px; 
    }

.form_list .form_box select{ width:150px;}


    a.Detail
    {
        cursor: pointer;
        padding-right: 5px;
        color: #006ecc;
    }
    /*classify_ADD*/
    .classify_ADD{ margin:20px;}
    .classify_ADD .con{ padding:100px 10px 0;}
    .classify_ADD .lump{width:280px; margin-bottom:20px;}
    .classify_ADD ul.tab{ height:20px; padding-left:10px; position:relative; }
    .classify_ADD ul.tab li{ background:url(../images/tab.png) -60px 0  no-repeat; width:42px; float:left; height:21px; line-height:20px;  color:#7c7c7c; text-align:center;  z-index:8888; cursor:pointer;}
    .classify_ADD ul.tab li.one{background:url(../images/tab.png) -56px 0  no-repeat; width:46px; margin-left:-4px;}
    .classify_ADD ul.tab li.on{ background-position: 0 0 ; z-index:9999; width:49px;  margin-left:-4px; color:#000;margin-left:-5px;}
    .classify_ADD .box2, .classify_ADD .box3 , .classify_ADD .box4{ background:#fff; border:1px solid #93a3b3; height:204px; line-height:24px; font-size:12px; color:#333; }
    .classify_ADD .box2 a, .classify_ADD .box3 a , .classify_ADD .box4 a{ color:#0e97d7; text-decoration:underline;}

    .classify_ADD .box2{ margin-top:20px;}
        .classify_ADD .box4{ margin-top:0px;}
    .classify_ADD input{ width:80px; height:12px; line-height:12px;}
    .classify_ADD h1{ clear:both; background:#ededed; height:26px; border-bottom:1px solid #ccc; font-size:12px; line-height:26px; font-weight:normal; padding-left:10px;}
    .classify_ADD h1 .right{ border-left:1px solid #ccc; width:90px; padding-left:10px;}
    .classify_ADD ul.l_list, .classify_ADD ul.r_list{ width:278px; height:150px; overflow-y:scroll; overflow-x:hidden ;}
    .classify_ADD ul.l_list{ height:177px;}
    .classify_ADD ul.l_list li, .classify_ADD ul.r_list li{border-bottom:1px solid #ccc; width:100%; padding-left:10px; clear:both; float:left;}
    .classify_ADD ul.l_list li span, .classify_ADD ul.r_list li span{  width:80px; padding-left:10px;   color:#0e97d7; }
    .classify_ADD ul.l_list li span a, .classify_ADD ul.r_list li span a{  color:#0e97d7; text-decoration:none;}
    .classify_ADD ul.l_list li.already, .classify_ADD ul.r_list li.already{ background:#e9f0f7;}
    .classify_ADD ul.l_list li.already span, .classify_ADD ul.r_list li.already span{ color:#999; text-decoration:none;}


        .control{ margin:20px;}
        .control .con{ padding:100px 10px 0;}
        .control ul.tab{ height:20px; padding-left:10px;cursor:pointer }
        .control ul.tab li{ background:url(../images/tab2.png) -90px 0  no-repeat; width:72px; float:left; height:21px; line-height:20px;  color:#7c7c7c; text-align:center;  z-index:8888;}
        .control ul.tab li.one{background:url(../images/tab2.png) -86px 0  no-repeat; width:77px; margin-left:-4px;}
        .control ul.tab li.on{ background-position: 0 0; z-index:9999; width:79px;  margin-left:-4px; color:#000;margin-left:-5px;}

        .control .box3{ background:#fff; border:1px solid #93a3b3; min-height:100px; line-height:24px; font-size:12px; color:#333; width:600px;}
        .control h1{ clear:both; background:#ededed; height:26px; border-bottom:1px solid #ccc; font-size:12px; line-height:26px; font-weight:normal; padding-left:10px;}
        .control h1 label{ width:150px;}
        .control h1 .right{ border-left:1px solid #ccc; width:90px; padding-left:10px;}
        .control h1 .right a{ color:#0e97d7; text-decoration:underline;}
        .control .lump ,.control .box2{ width:280px; height:245px; border-right:1px solid #93a3b3;}
        .control .lump { overflow-y:auto; overflow-x:hidden;}
        .control .box2{border-left:1px solid #93a3b3; border-right:none;  height:270px; margin-top:-27px;}
        .control ul.l_list{ width:280px; height:245px; overflow-y:scroll; overflow-x:hidden ;}
        .control ul.l_list li{border-bottom:1px solid #ccc; width:100%; padding-left:10px; clear:both; float:left;}
        .control ul.l_list li span{  width:80px; padding-left:10px;   color:#0e97d7; }
        .control ul.l_list li span a{  color:#0e97d7; text-decoration:none;}
.p10
{
    padding:10px;
}
    .p10 label {
        margin-right:10px;
    }
#towreflash { padding:0 5px;
 line-height:24px; color:#333;  background:url(../images/th_bg.png) repeat-x;
background:-moz-linear-gradient(top, #fff, #f1f1f1 100%);
 background: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f1f1f1));
}
.show_input { position:relative; height:30px; z-index: auto; float:left;
}
.search_input { background-image:url(../images/search_input.png); width:108px; padding-right:20px; height:18px; border:none; background-color:none;margin-top:2px; overflow:hidden;
    }
.search_input_minisite { background:url(../images/search_input.png)  -110px 0px no-repeat;width:20px;height:18px; padding-right:20px;border:none; background-color:none;margin-top:2px; overflow:hidden;margin-left: -23px;
    }
.search_select_minisite {height:20px;margin-top:1px;
}
.NO_search_input { background-image:url(../images/no_search_input.png); width:108px; padding-right:20px; height:18px; border:none; background-color:none;margin-top:2px; overflow:hidden;
}
.Shwo_box {  position:absolute; left:1px; top:20px; box-shadow:0 2px 4px 1px #a1a1a1; -webkit-box-shadow:0 2px 4px 1px #a1a1a1; -moz-box-shadow:0 2px 4px 1px #a1a1a1; background:#fff;
}
.search { width:400px; z-index:99999;
}

.material { width:800px; z-index:99999; top:26px;
}
.org { width:500px; z-index:8888;
}
.Shwo_box_btn { border:0; height:20px;color:#666; border-radius:4px; padding:0 8px; background:#ececec; box-shadow:1px 1px 2px #b6b6b6; -webkit-box-shadow: 1px 1px 2px #b6b6b6; -moz-box-shadow:1px 1px 2px #b6b6b6; margin-right:5px;

}
.show_box_search { border-top:1px solid #fff; border-bottom:1px solid #fff; background:#dfdfdf; height:26px; padding-top:5px;
 }
    .show_box_search span { padding-left:5px; color:#333;
     font-weight:bold;}
    .show_box_search input { margin:0 5px;
     border:none;}
.show_operate{ margin-bottom:5px; clear:both; margin-top:5px;}

.promptInformation
{
    display: none;
    margin: 0;
    padding: 3px 0;
    width: 590px;
    height: auto;
    line-height: 24px;
    color: #555;
    text-indent: 30px;
    border: 1px solid #F8E0A6;
    overflow: hidden;
    font-size: 12px;
}
.form_indentation
{
    /*color:#333;*/
}
.form_indentation span
{
    margin-left:22px;
}
.promptInformation
{
    color:red;
}
.CannotDelete img
{
    display:block;
    width:10px;
    height:10px;
}

.check_box{ border:1px solid #9bb6d4; padding-bottom:1px; margin-bottom:20px; color:#333; line-height:24px;
}
.check_box h1{ background:#d4e1f0; height:27px; line-height:27px; font-size:12px; color:#093e78;border-bottom:1px solid #9bb6d4;
}
.check_box h1 img { margin:0 5px; 
    }
    .check_box .info_box { border:1px solid #c2d5ea; margin:1px 1px 0;
    }
    .check_box h2{ background:#eff4fa; height:27px; line-height:27px; font-size:12px; color:#333;border-bottom:1px solid #c2d5ea; padding-left:15px;
}

.pic_style {
    border:20px solid #ccc; background:#000;
}

.materialWidth
{
    width:120px;
}
.spGoalsItemMaxWidth {
    max-width:180px;  
}
.control ul.l_list li span.GoalsItemSpan {
    width:60px;
}
.control ul.l_list li span.GoalsItemSpan2 {
    width:60px;
    line-height:55px;
}
.search_btn
{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 7px;
    right: 9px;
    cursor: pointer;
}
.searchEnter
{
    float: right;
    width: 160px;
    padding: 1px 20px 1px 3px;
    margin-left: 0px;
    margin-right: 1px;
}
/*2015-07-02爱婷添加*/
.radioWrap label {
word-break: break-all;
word-wrap: break-word;
}