<ion-view view-title="产品详情" hide-back-button="true">
	<ion-content class="bg-grey padding">
		<div class="mui-content">
			<ul class="mui-table-view mui-grid-view p-0 m-0">
				<li class="mui-table-view-cell mui-media mui-col-xs-12 p-0 m-0">
					<img class="lazy" src="http://img.iitour.com/uploads/main/allimg/20160615/20160615100655.jpg" width="100%" border="0" height="100">
				</li>
				<li class="mui-table-view-cell mui-media mui-col-xs-12 p-0 m-0">
					<div class="mui-media-text self-detail-note" style="text-align: left;">
						<p style="line-height: 35px;"><span>旅游团期：<label>5</label>天</span> <span class="self-detail-note-r"></p>
						<p style="line-height: 35px;"><span>价格：¥ <label>10000</label></span> <span class="self-detail-note-r">满意度：100%</span></p>
						<p style="line-height: 35px;"><span>旅游团期：<label>5</label>天</span> <span class="self-detail-note-r"></p>
						<p style="line-height: 35px;"><span>价格：¥ <label>10000</label></span> <span class="self-detail-note-r">满意度：100%</span></p>
						<p style="line-height: 35px;"><span>旅游团期：<label>5</label>天</span> <span class="self-detail-note-r"></p>
						<p style="line-height: 35px;"><span>价格：¥ <label>10000</label></span> <span class="self-detail-note-r">满意度：100%</span></p>
					</div>
				</li>
			</ul>

		</div>

		<footer>
			<a href="index_app.html#/orsubmit" class="mui-btn mui-btn-warning mui-btn-block self-btn-confirm">立即购买</a>
		</footer>
	</ion-content>
</ion-view>