body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:976px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:60px;
  top:68px;
  width:921px;
  height:120px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u2 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:30px;
}
#u3 {
  position:absolute;
  left:98px;
  top:0px;
  width:113px;
  height:30px;
}
#u4 {
  position:absolute;
  left:2px;
  top:7px;
  width:109px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:30px;
}
#u5 {
  position:absolute;
  left:211px;
  top:0px;
  width:472px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:468px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:30px;
}
#u7 {
  position:absolute;
  left:683px;
  top:0px;
  width:72px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:30px;
}
#u9 {
  position:absolute;
  left:755px;
  top:0px;
  width:161px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:23px;
}
#u11 {
  position:absolute;
  left:0px;
  top:30px;
  width:98px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:2px;
  width:94px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:23px;
}
#u13 {
  position:absolute;
  left:98px;
  top:30px;
  width:113px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:2px;
  width:109px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:23px;
}
#u15 {
  position:absolute;
  left:211px;
  top:30px;
  width:472px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:2px;
  width:468px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
}
#u17 {
  position:absolute;
  left:683px;
  top:30px;
  width:72px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:23px;
}
#u19 {
  position:absolute;
  left:755px;
  top:30px;
  width:161px;
  height:23px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:2px;
  width:157px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:22px;
}
#u21 {
  position:absolute;
  left:0px;
  top:53px;
  width:98px;
  height:22px;
}
#u22 {
  position:absolute;
  left:2px;
  top:4px;
  width:94px;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:22px;
}
#u23 {
  position:absolute;
  left:98px;
  top:53px;
  width:113px;
  height:22px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:109px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:22px;
}
#u25 {
  position:absolute;
  left:211px;
  top:53px;
  width:472px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:468px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:22px;
}
#u27 {
  position:absolute;
  left:683px;
  top:53px;
  width:72px;
  height:22px;
  text-align:center;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:68px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:22px;
}
#u29 {
  position:absolute;
  left:755px;
  top:53px;
  width:161px;
  height:22px;
}
#u30 {
  position:absolute;
  left:2px;
  top:3px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:40px;
}
#u31 {
  position:absolute;
  left:0px;
  top:75px;
  width:98px;
  height:40px;
  color:#0066FF;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:94px;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
}
#u33 {
  position:absolute;
  left:98px;
  top:75px;
  width:113px;
  height:40px;
  color:#0066FF;
}
#u34 {
  position:absolute;
  left:2px;
  top:12px;
  width:109px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:472px;
  height:40px;
}
#u35 {
  position:absolute;
  left:211px;
  top:75px;
  width:472px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0066FF;
  text-align:left;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:468px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:40px;
}
#u37 {
  position:absolute;
  left:683px;
  top:75px;
  width:72px;
  height:40px;
  color:#0066FF;
  text-align:center;
}
#u38 {
  position:absolute;
  left:2px;
  top:11px;
  width:68px;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:40px;
}
#u39 {
  position:absolute;
  left:755px;
  top:75px;
  width:161px;
  height:40px;
  color:#0066FF;
}
#u40 {
  position:absolute;
  left:2px;
  top:12px;
  width:157px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41_div {
  position:absolute;
  left:0px;
  top:0px;
  width:916px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:60px;
  top:68px;
  width:916px;
  height:31px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u42 {
  position:absolute;
  left:2px;
  top:4px;
  width:912px;
  word-wrap:break-word;
}
