body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:4740px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6171 {
  position:absolute;
  left:50px;
  top:50px;
  width:1200px;
  height:4740px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6172 {
  position:absolute;
  left:2px;
  top:2362px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:66px;
}
#u6173 {
  position:absolute;
  left:70px;
  top:69px;
  width:60px;
  height:65px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6174 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u6175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:4639px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6175 {
  position:absolute;
  left:50px;
  top:151px;
  width:160px;
  height:4639px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6176 {
  position:absolute;
  left:2px;
  top:2312px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1113px;
  height:5px;
}
#u6177 {
  position:absolute;
  left:50px;
  top:149px;
  width:1110px;
  height:2px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6179 {
  position:absolute;
  left:210px;
  top:108px;
  width:452px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u6180 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6181 {
  position:absolute;
  left:990px;
  top:117px;
  width:120px;
  height:28px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6182 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u6183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6183 {
  position:absolute;
  left:1080px;
  top:110px;
  width:60px;
  height:27px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u6184 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u6185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:656px;
}
#u6185 {
  position:absolute;
  left:70px;
  top:179px;
  width:140px;
  height:656px;
}
#u6186 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u6187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u6187 {
  position:absolute;
  left:70px;
  top:720px;
  width:101px;
  height:30px;
}
#u6188 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6189 {
  position:absolute;
  left:230px;
  top:186px;
  width:210px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u6190 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u6191_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u6191 {
  position:absolute;
  left:230px;
  top:223px;
  width:1020px;
  height:1px;
}
#u6192 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6193 {
  position:absolute;
  left:228px;
  top:250px;
  width:38px;
  height:20px;
  font-size:14px;
}
#u6194 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6195 {
  position:absolute;
  left:274px;
  top:250px;
  width:510px;
  height:25px;
}
#u6195_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6195_input {
  font-family:'应用字体';
}
#u6196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6196 {
  position:absolute;
  left:228px;
  top:489px;
  width:38px;
  height:28px;
  font-size:14px;
}
#u6197 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:396px;
}
#u6198 {
  position:absolute;
  left:274px;
  top:520px;
  width:711px;
  height:396px;
}
#u6199 {
  position:absolute;
  left:2px;
  top:190px;
  width:707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6200_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6200 {
  position:absolute;
  left:230px;
  top:960px;
  width:48px;
  height:16px;
  font-size:14px;
}
#u6201 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u6202 {
  position:absolute;
  left:288px;
  top:960px;
  width:130px;
  height:25px;
}
#u6202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6202_input {
  font-family:'应用字体';
}
#u6203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u6203 {
  position:absolute;
  left:243px;
  top:1095px;
  width:67px;
  height:30px;
  color:#FFFFFF;
}
#u6204 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u6205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u6205 {
  position:absolute;
  left:1300px;
  top:248px;
  width:371px;
  height:194px;
  font-size:14px;
  line-height:20px;
}
#u6206 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u6207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6207 {
  position:absolute;
  left:226px;
  top:342px;
  width:38px;
  height:28px;
  font-size:14px;
}
#u6208 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6209 {
  position:absolute;
  left:276px;
  top:489px;
  width:100px;
  height:18px;
}
#u6210 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6209_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6211 {
  position:absolute;
  left:386px;
  top:489px;
  width:100px;
  height:18px;
}
#u6212 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6211_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6213 {
  position:absolute;
  left:436px;
  top:485px;
  width:240px;
  height:25px;
}
#u6213_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6213_input {
  font-family:'应用字体';
}
#u6214 {
  position:absolute;
  left:686px;
  top:485px;
  width:100px;
  height:25px;
}
#u6214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6214_input {
  font-family:'应用字体';
}
#u6215 {
  position:absolute;
  left:390px;
  top:363px;
  width:100px;
  height:25px;
}
#u6215_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u6215_input {
  font-family:'应用字体';
}
#u6216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
}
#u6216 {
  position:absolute;
  left:274px;
  top:334px;
  width:106px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6217 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u6218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u6218 {
  position:absolute;
  left:383px;
  top:398px;
  width:114px;
  height:28px;
  font-size:12px;
}
#u6219 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u6220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u6220 {
  position:absolute;
  left:306px;
  top:414px;
  width:41px;
  height:28px;
  font-size:10px;
  text-align:center;
}
#u6221 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6222 {
  position:absolute;
  left:664px;
  top:363px;
  width:100px;
  height:25px;
}
#u6222_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u6222_input {
  font-family:'应用字体';
}
#u6223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
}
#u6223 {
  position:absolute;
  left:548px;
  top:334px;
  width:106px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u6224 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u6225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u6225 {
  position:absolute;
  left:658px;
  top:398px;
  width:114px;
  height:28px;
  font-size:12px;
  color:#FF0000;
}
#u6226 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u6227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  text-align:center;
}
#u6227 {
  position:absolute;
  left:577px;
  top:413px;
  width:41px;
  height:28px;
  font-size:10px;
  color:#FF0000;
  text-align:center;
}
#u6228 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6229 {
  position:absolute;
  left:227px;
  top:287px;
  width:38px;
  height:20px;
  font-size:14px;
}
#u6230 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u6231 {
  position:absolute;
  left:228px;
  top:440px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u6232 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6233 {
  position:absolute;
  left:299px;
  top:439px;
  width:485px;
  height:25px;
}
#u6233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6233_input {
  font-family:'应用字体';
}
#u6234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u6234 {
  position:absolute;
  left:230px;
  top:998px;
  width:62px;
  height:28px;
  font-size:14px;
}
#u6235 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u6236 {
  position:absolute;
  left:243px;
  top:1026px;
  width:100px;
  height:18px;
}
#u6237 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6236_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6238 {
  position:absolute;
  left:243px;
  top:1054px;
  width:100px;
  height:18px;
}
#u6239 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6238_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6240 {
  position:absolute;
  left:320px;
  top:1051px;
  width:110px;
  height:25px;
}
#u6240_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6240_input {
  font-family:'应用字体';
}
#u6241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u6241 {
  position:absolute;
  left:320px;
  top:1095px;
  width:67px;
  height:30px;
  color:#FFFFFF;
}
#u6242 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u6243 {
  position:absolute;
  left:275px;
  top:289px;
  width:83px;
  height:25px;
}
#u6243_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6243_input {
  font-family:'应用字体';
}
#u6243_input:disabled {
  color:grayText;
}
