<div class="container-fluid">
        <div class="row">
            <div class="leftSider col-xs-2">
				<div style="width:100%;">
				    <div style="position:relative">
						<div class="rectangle">
							
						</div>
						<div class="triangle-r"></div>
						<div class="triangle-l"></div>
					</div>
				    <div class="form-group text-center head">
				        <img width="100" src="img/home/touxiang.png" alt="头像" class="img-circle">
				        <div  class="heard-img">欢迎您，{{userName}}</div>
				    </div>
				    <uib-accordion close-others="oneAtATime">
				    	<div uib-accordion-group class="panel-default" is-open="status.user">
					      <uib-accordion-heading>
					         客户管理 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.user, 'glyphicon-chevron-right': !status.user}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getUsers">客户列表</a>
                          </div>
					    </div>	
					  
					</uib-accordion>
					  <uib-accordion close-others="oneAtATime">
				    	<div uib-accordion-group class="panel-default" is-open="status.order">
					      <uib-accordion-heading>
					         预约管理 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.order, 'glyphicon-chevron-right': !status.order}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getOrders">预约列表</a>
                          </div>
					    </div>	
					  
					</uib-accordion>
				    <!--<uib-accordion close-others="oneAtATime">
				    	<div uib-accordion-group class="panel-default" is-open="status.dic">
					      <uib-accordion-heading>
					        字典管理 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.dic, 'glyphicon-chevron-right': !status.dic}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getConfigs">字典列表</a>
                          </div>
					    </div>	
					  
					</uib-accordion>-->
					<uib-accordion close-others="oneAtATime">
				    	<div uib-accordion-group class="panel-default" is-open="status.article">
					      <uib-accordion-heading>
					        内容管理 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.article, 'glyphicon-chevron-right': !status.article}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getArticles">文章列表</a>
                          </div>
					    </div>	
					  
					</uib-accordion>
					<uib-accordion close-others="oneAtATime">
				    	<div uib-accordion-group class="panel-default" is-open="status.product">
					      <uib-accordion-heading>
					        产品管理 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.product, 'glyphicon-chevron-right': !status.product}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getProducts">产品列表</a>
                          </div>
					    </div>	
					  
					</uib-accordion>
					<uib-accordion close-others="oneAtATime">
				    	<div uib-accordion-group class="panel-default" is-open="status.course">
					      <uib-accordion-heading>
					        课程管理 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.course, 'glyphicon-chevron-right': !status.course}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getCourses">课程列表</a>
                          </div>
					    </div>	
					  
					</uib-accordion>
					<uib-accordion close-others="oneAtATime">
				    	<div uib-accordion-group class="panel-default" is-open="status.activity">
					      <uib-accordion-heading>
					        活动管理 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.activity, 'glyphicon-chevron-right': !status.activity}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getActives">活动列表</a>
                          </div>
					    </div>	
					  
					</uib-accordion><uib-accordion close-others="oneAtATime">
				    <div uib-accordion-group class="panel-default" is-open="status.helper">
					      <uib-accordion-heading>
					        获客助手 <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.helper, 'glyphicon-chevron-right': !status.helper}"></i>
					      </uib-accordion-heading>
					       <div class="panel-body">
                              <a href="#/home/getTools">助手列表</a>
                          </div>
					    </div>	  
					</uib-accordion>
				</div>
            </div>
            <div id="header" class="col-xs-10">
                <div class="row">
	                <div class="header" >
					    <div class="col-xs-2 text-left">
					        <div class="">
					            <img class="menu-img" src="img/home/menu.png" />
					        </div>
					    </div>
					    <div class="col-xs-6 text-center">
					        <span><b>尚融汇-后台管理系统</b></span>
					    </div>
					    <div class="width-3 text-right">
				        <a  href="#/forgetPwd" class="pull-right vm" style="text-decoration:none;cursor: pointer;color: #ffffff;">
					        	<span class="glyphicon glyphicon-cog"></span>
					            <span class="hui">修改密码</span>
					        </a>
					    </div>
					    <div class="col-xs-1" dw-loading="logoutOltr" dw-loading-options="{active: false,text: '正在注销登录，请稍后...',spinnerOptions: {color: '#00C4CA'}}">
					        <a ng-click="logout()" class="pull-right" style="text-decoration:none;cursor: pointer;">
					        	<img src="img/home/out.png" />
					            <span class="hui">退出</span>
					        </a>
					    </div>
					    <div class="clearfix"></div>
					</div>
                </div>
            </div>
            <div class="main"> 
                 <div ui-view class="col-xs-10 container warpper" dw-loading="warpperRight" dw-loading-options="{active: false,text: '正在处理，请稍后...',spinnerOptions: {color: '#00C4CA'}}"></div>
            </div>
        </div>
 </div>
 <script type="text/javascript">
        $('.leftSider').css("height", $(document).height() + "px");
        $('.menu-img').click(function () {
            $('.leftSider').toggle();
            $('#header').toggleClass("w100");
            $('.main>.col-xs-10').toggleClass("w100");
        }); 	
 </script>