body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:332px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2711_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2711 {
  position:absolute;
  left:52px;
  top:50px;
  width:280px;
  height:520px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2712 {
  position:absolute;
  left:2px;
  top:251px;
  width:276px;
  word-wrap:break-word;
}
#u2713_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u2713 {
  position:absolute;
  left:52px;
  top:50px;
  width:280px;
  height:40px;
  font-size:14px;
}
#u2714 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u2715_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u2715 {
  position:absolute;
  left:50px;
  top:54px;
  width:28px;
  height:32px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2716 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
