body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1192px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:50px;
  top:52px;
  width:1147px;
  height:251px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u2 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:32px;
}
#u3 {
  position:absolute;
  left:58px;
  top:0px;
  width:78px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u4 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:32px;
}
#u5 {
  position:absolute;
  left:136px;
  top:0px;
  width:108px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u6 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:32px;
}
#u7 {
  position:absolute;
  left:244px;
  top:0px;
  width:490px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:486px;
  word-wrap:break-word;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:32px;
}
#u9 {
  position:absolute;
  left:734px;
  top:0px;
  width:71px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  word-wrap:break-word;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:32px;
}
#u11 {
  position:absolute;
  left:805px;
  top:0px;
  width:115px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u12 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  word-wrap:break-word;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:32px;
}
#u13 {
  position:absolute;
  left:920px;
  top:0px;
  width:97px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u14 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:32px;
}
#u15 {
  position:absolute;
  left:1017px;
  top:0px;
  width:125px;
  height:32px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u16 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:98px;
}
#u17 {
  position:absolute;
  left:0px;
  top:32px;
  width:58px;
  height:98px;
  font-size:12px;
  text-align:center;
}
#u18 {
  position:absolute;
  left:2px;
  top:42px;
  width:54px;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:98px;
}
#u19 {
  position:absolute;
  left:58px;
  top:32px;
  width:78px;
  height:98px;
  font-size:12px;
  text-align:center;
}
#u20 {
  position:absolute;
  left:2px;
  top:42px;
  width:74px;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:98px;
}
#u21 {
  position:absolute;
  left:136px;
  top:32px;
  width:108px;
  height:98px;
  font-size:12px;
}
#u22 {
  position:absolute;
  left:2px;
  top:41px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:98px;
}
#u23 {
  position:absolute;
  left:244px;
  top:32px;
  width:490px;
  height:98px;
  font-size:12px;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:6px;
  width:486px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:98px;
}
#u25 {
  position:absolute;
  left:734px;
  top:32px;
  width:71px;
  height:98px;
  font-size:12px;
  text-align:center;
}
#u26 {
  position:absolute;
  left:2px;
  top:40px;
  width:67px;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:98px;
}
#u27 {
  position:absolute;
  left:805px;
  top:32px;
  width:115px;
  height:98px;
  font-size:12px;
  text-align:center;
}
#u28 {
  position:absolute;
  left:2px;
  top:42px;
  width:111px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:98px;
}
#u29 {
  position:absolute;
  left:920px;
  top:32px;
  width:97px;
  height:98px;
  font-size:12px;
  text-align:center;
}
#u30 {
  position:absolute;
  left:2px;
  top:40px;
  width:93px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:98px;
}
#u31 {
  position:absolute;
  left:1017px;
  top:32px;
  width:125px;
  height:98px;
  font-size:12px;
}
#u32 {
  position:absolute;
  left:2px;
  top:41px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:89px;
}
#u33 {
  position:absolute;
  left:0px;
  top:130px;
  width:58px;
  height:89px;
  font-size:12px;
  color:#0066FF;
  text-align:center;
}
#u34 {
  position:absolute;
  left:2px;
  top:38px;
  width:54px;
  word-wrap:break-word;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:89px;
}
#u35 {
  position:absolute;
  left:58px;
  top:130px;
  width:78px;
  height:89px;
  font-size:12px;
  color:#0066FF;
  text-align:center;
}
#u36 {
  position:absolute;
  left:2px;
  top:38px;
  width:74px;
  word-wrap:break-word;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:89px;
}
#u37 {
  position:absolute;
  left:136px;
  top:130px;
  width:108px;
  height:89px;
  font-size:12px;
  color:#0066FF;
}
#u38 {
  position:absolute;
  left:2px;
  top:36px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:89px;
}
#u39 {
  position:absolute;
  left:244px;
  top:130px;
  width:490px;
  height:89px;
  font-size:12px;
  color:#0066FF;
  text-align:left;
}
#u40 {
  position:absolute;
  left:2px;
  top:28px;
  width:486px;
  word-wrap:break-word;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:89px;
}
#u41 {
  position:absolute;
  left:734px;
  top:130px;
  width:71px;
  height:89px;
  font-size:12px;
  color:#0066FF;
  text-align:center;
}
#u42 {
  position:absolute;
  left:2px;
  top:36px;
  width:67px;
  word-wrap:break-word;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:89px;
}
#u43 {
  position:absolute;
  left:805px;
  top:130px;
  width:115px;
  height:89px;
  font-size:12px;
  color:#0066FF;
  text-align:center;
}
#u44 {
  position:absolute;
  left:2px;
  top:38px;
  width:111px;
  word-wrap:break-word;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:89px;
}
#u45 {
  position:absolute;
  left:920px;
  top:130px;
  width:97px;
  height:89px;
  font-size:12px;
  color:#0066FF;
  text-align:center;
}
#u46 {
  position:absolute;
  left:2px;
  top:36px;
  width:93px;
  word-wrap:break-word;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:89px;
}
#u47 {
  position:absolute;
  left:1017px;
  top:130px;
  width:125px;
  height:89px;
  font-size:12px;
  color:#0066FF;
}
#u48 {
  position:absolute;
  left:2px;
  top:36px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:27px;
}
#u49 {
  position:absolute;
  left:0px;
  top:219px;
  width:58px;
  height:27px;
  font-size:12px;
  text-align:center;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:27px;
}
#u51 {
  position:absolute;
  left:58px;
  top:219px;
  width:78px;
  height:27px;
  font-size:12px;
  text-align:center;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:27px;
}
#u53 {
  position:absolute;
  left:136px;
  top:219px;
  width:108px;
  height:27px;
  font-size:12px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:27px;
}
#u55 {
  position:absolute;
  left:244px;
  top:219px;
  width:490px;
  height:27px;
  font-size:12px;
  text-align:left;
}
#u56 {
  position:absolute;
  left:2px;
  top:6px;
  width:486px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:27px;
}
#u57 {
  position:absolute;
  left:734px;
  top:219px;
  width:71px;
  height:27px;
  font-size:12px;
  text-align:center;
}
#u58 {
  position:absolute;
  left:2px;
  top:6px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:27px;
}
#u59 {
  position:absolute;
  left:805px;
  top:219px;
  width:115px;
  height:27px;
  font-size:12px;
  text-align:center;
}
#u60 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:27px;
}
#u61 {
  position:absolute;
  left:920px;
  top:219px;
  width:97px;
  height:27px;
  font-size:12px;
  text-align:center;
}
#u62 {
  position:absolute;
  left:2px;
  top:6px;
  width:93px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:27px;
}
#u63 {
  position:absolute;
  left:1017px;
  top:219px;
  width:125px;
  height:27px;
  font-size:12px;
}
#u64 {
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u65 {
  position:absolute;
  left:50px;
  top:320px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  color:#0066FF;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
