body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1425px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
}
#u225 {
  position:absolute;
  left:75px;
  top:120px;
  width:375px;
  height:554px;
  font-size:16px;
}
#u226 {
  position:absolute;
  left:2px;
  top:257px;
  width:371px;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u227 {
  position:absolute;
  left:75px;
  top:60px;
  width:375px;
  height:20px;
}
#u228 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u229 {
  position:absolute;
  left:75px;
  top:77px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u230 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u231 {
  position:absolute;
  left:190px;
  top:26px;
  width:145px;
  height:22px;
  font-size:16px;
}
#u232 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u233 {
  position:absolute;
  left:212px;
  top:246px;
  width:100px;
  height:100px;
}
#u234 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
}
#u235 {
  position:absolute;
  left:560px;
  top:120px;
  width:375px;
  height:554px;
  font-size:16px;
}
#u236 {
  position:absolute;
  left:2px;
  top:269px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u237 {
  position:absolute;
  left:560px;
  top:60px;
  width:375px;
  height:20px;
}
#u238 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u239 {
  position:absolute;
  left:560px;
  top:77px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u240 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u241_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u241 {
  position:absolute;
  left:642px;
  top:26px;
  width:215px;
  height:22px;
  font-size:16px;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:61px;
}
#u243 {
  position:absolute;
  left:608px;
  top:310px;
  width:280px;
  height:61px;
  font-size:16px;
}
#u244 {
  position:absolute;
  left:2px;
  top:20px;
  width:276px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:554px;
}
#u245 {
  position:absolute;
  left:1050px;
  top:120px;
  width:375px;
  height:554px;
  font-size:16px;
}
#u246 {
  position:absolute;
  left:2px;
  top:266px;
  width:371px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u247 {
  position:absolute;
  left:1050px;
  top:60px;
  width:375px;
  height:20px;
}
#u248 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u249 {
  position:absolute;
  left:1050px;
  top:77px;
  width:375px;
  height:44px;
  font-size:18px;
}
#u250 {
  position:absolute;
  left:2px;
  top:10px;
  width:371px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u251 {
  position:absolute;
  left:1117px;
  top:26px;
  width:241px;
  height:22px;
  font-size:16px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  white-space:nowrap;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:101px;
}
#u253 {
  position:absolute;
  left:1188px;
  top:260px;
  width:100px;
  height:100px;
}
#u254 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:38px;
}
#u255 {
  position:absolute;
  left:198px;
  top:427px;
  width:130px;
  height:38px;
  font-size:16px;
}
#u256 {
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
