body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1671px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:4740px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4879 {
  position:absolute;
  left:50px;
  top:50px;
  width:1200px;
  height:4740px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4880 {
  position:absolute;
  left:2px;
  top:2362px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:66px;
}
#u4881 {
  position:absolute;
  left:70px;
  top:69px;
  width:60px;
  height:65px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4882 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u4883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:4639px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4883 {
  position:absolute;
  left:50px;
  top:151px;
  width:160px;
  height:4639px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u4884 {
  position:absolute;
  left:2px;
  top:2312px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4885_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1113px;
  height:5px;
}
#u4885 {
  position:absolute;
  left:50px;
  top:149px;
  width:1110px;
  height:2px;
}
#u4886 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4887 {
  position:absolute;
  left:210px;
  top:108px;
  width:452px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u4888 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u4889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4889 {
  position:absolute;
  left:990px;
  top:117px;
  width:120px;
  height:28px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u4890 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4891 {
  position:absolute;
  left:1080px;
  top:110px;
  width:60px;
  height:27px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4892 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:572px;
}
#u4893 {
  position:absolute;
  left:70px;
  top:179px;
  width:140px;
  height:572px;
}
#u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u4895 {
  position:absolute;
  left:79px;
  top:640px;
  width:101px;
  height:30px;
}
#u4896 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4897 {
  position:absolute;
  left:230px;
  top:186px;
  width:210px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u4899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1021px;
  height:2px;
}
#u4899 {
  position:absolute;
  left:230px;
  top:223px;
  width:1020px;
  height:1px;
}
#u4900 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4901 {
  position:absolute;
  left:228px;
  top:250px;
  width:38px;
  height:20px;
  font-size:14px;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u4903 {
  position:absolute;
  left:274px;
  top:250px;
  width:510px;
  height:25px;
}
#u4903_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4903_input {
  font-family:'应用字体';
}
#u4904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4904 {
  position:absolute;
  left:228px;
  top:489px;
  width:38px;
  height:28px;
  font-size:14px;
}
#u4905 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u4906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:711px;
  height:396px;
}
#u4906 {
  position:absolute;
  left:274px;
  top:520px;
  width:711px;
  height:396px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:190px;
  width:707px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4908 {
  position:absolute;
  left:230px;
  top:960px;
  width:48px;
  height:16px;
  font-size:14px;
}
#u4909 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u4910 {
  position:absolute;
  left:288px;
  top:960px;
  width:130px;
  height:25px;
}
#u4910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4910_input {
  font-family:'应用字体';
}
#u4911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u4911 {
  position:absolute;
  left:243px;
  top:1095px;
  width:67px;
  height:30px;
  color:#FFFFFF;
}
#u4912 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u4913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:194px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  line-height:20px;
}
#u4913 {
  position:absolute;
  left:1300px;
  top:248px;
  width:371px;
  height:194px;
  font-size:14px;
  line-height:20px;
}
#u4914 {
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  white-space:nowrap;
}
#u4915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4915 {
  position:absolute;
  left:226px;
  top:342px;
  width:38px;
  height:28px;
  font-size:14px;
}
#u4916 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u4917 {
  position:absolute;
  left:276px;
  top:489px;
  width:100px;
  height:18px;
}
#u4918 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4917_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4919 {
  position:absolute;
  left:386px;
  top:489px;
  width:100px;
  height:18px;
}
#u4920 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4919_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4921 {
  position:absolute;
  left:436px;
  top:485px;
  width:240px;
  height:25px;
}
#u4921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4921_input {
  font-family:'应用字体';
}
#u4922 {
  position:absolute;
  left:686px;
  top:485px;
  width:100px;
  height:25px;
}
#u4922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4922_input {
  font-family:'应用字体';
}
#u4923 {
  position:absolute;
  left:390px;
  top:363px;
  width:100px;
  height:25px;
}
#u4923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4923_input {
  font-family:'应用字体';
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
}
#u4924 {
  position:absolute;
  left:274px;
  top:334px;
  width:106px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4925 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u4926 {
  position:absolute;
  left:383px;
  top:398px;
  width:114px;
  height:28px;
  font-size:12px;
}
#u4927 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u4928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  text-align:center;
}
#u4928 {
  position:absolute;
  left:306px;
  top:414px;
  width:41px;
  height:28px;
  font-size:10px;
  text-align:center;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4930 {
  position:absolute;
  left:664px;
  top:363px;
  width:100px;
  height:25px;
}
#u4930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#FF0000;
  text-align:center;
}
#u4930_input {
  font-family:'应用字体';
}
#u4931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:83px;
}
#u4931 {
  position:absolute;
  left:548px;
  top:334px;
  width:106px;
  height:83px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u4932 {
  position:absolute;
  left:2px;
  top:30px;
  width:102px;
  word-wrap:break-word;
}
#u4933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u4933 {
  position:absolute;
  left:658px;
  top:398px;
  width:114px;
  height:28px;
  font-size:12px;
  color:#FF0000;
}
#u4934 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  white-space:nowrap;
}
#u4935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FF0000;
  text-align:center;
}
#u4935 {
  position:absolute;
  left:577px;
  top:413px;
  width:41px;
  height:28px;
  font-size:10px;
  color:#FF0000;
  text-align:center;
}
#u4936 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4937 {
  position:absolute;
  left:227px;
  top:287px;
  width:38px;
  height:20px;
  font-size:14px;
}
#u4938 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u4939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u4939 {
  position:absolute;
  left:228px;
  top:440px;
  width:57px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u4940 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4941 {
  position:absolute;
  left:299px;
  top:439px;
  width:485px;
  height:25px;
}
#u4941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:485px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4941_input {
  font-family:'应用字体';
}
#u4942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u4942 {
  position:absolute;
  left:230px;
  top:998px;
  width:62px;
  height:28px;
  font-size:14px;
}
#u4943 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  white-space:nowrap;
}
#u4944 {
  position:absolute;
  left:243px;
  top:1026px;
  width:100px;
  height:18px;
}
#u4945 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4944_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4946 {
  position:absolute;
  left:243px;
  top:1054px;
  width:100px;
  height:18px;
}
#u4947 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u4946_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4948 {
  position:absolute;
  left:320px;
  top:1051px;
  width:110px;
  height:25px;
}
#u4948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4948_input {
  font-family:'应用字体';
}
#u4949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:30px;
}
#u4949 {
  position:absolute;
  left:320px;
  top:1095px;
  width:67px;
  height:30px;
  color:#FFFFFF;
}
#u4950 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u4951 {
  position:absolute;
  left:275px;
  top:289px;
  width:83px;
  height:25px;
}
#u4951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4951_input {
  font-family:'应用字体';
}
#u4951_input:disabled {
  color:grayText;
}
