body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:581px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:551px;
  height:654px;
}
#u35 {
  position:absolute;
  left:30px;
  top:30px;
  width:551px;
  height:654px;
}
#u36 {
  position:absolute;
  left:2px;
  top:319px;
  width:547px;
  visibility:hidden;
  word-wrap:break-word;
}
