
        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" type="text/css" href="css/account/login.css"/>


        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 form-box" style="margin-left:28%;">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>忘记密码</h3>
                        		</div>
                        		<div class="form-top-right">
                        			<a href="#/login" class="ft">返回登录</a>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                    <form  class="login-form" dw-loading="loginLoad" dw-loading-options="{active: false,text: '数据加载中，请稍后...',spinnerOptions: {color: '#00C4CA'}}">
			                    	<div class="form-group">
			                        	<input type="text" name="form-username" ng-model="user.saleId" placeholder="请输入用户名" class="form-username form-control" id="form-saleId">
			                        </div>
			                        <div class="form-group">
			                        	<input type="text" name="form-password" placeholder="请输入手机" ng-model="user.phone" class="form-password form-control" id="form-phone">
			                        </div>
			                        <div class="form-group">
			                        	<input type="text" name="form-password" placeholder="重置新密码" ng-model="user.newPassword"  class="form-password form-control" id="form-newPassword">
			                        </div>
			                        <button class="btn bg-default" ng-click="forgetPwd(user)">提交修改</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>