body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:520px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2257 {
  position:absolute;
  left:52px;
  top:50px;
  width:280px;
  height:520px;
}
#u2258 {
  position:absolute;
  left:2px;
  top:252px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:40px;
}
#u2259 {
  position:absolute;
  left:52px;
  top:50px;
  width:280px;
  height:40px;
  font-size:14px;
}
#u2260 {
  position:absolute;
  left:2px;
  top:10px;
  width:276px;
  word-wrap:break-word;
}
#u2261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:32px;
}
#u2261 {
  position:absolute;
  left:50px;
  top:54px;
  width:28px;
  height:32px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2262 {
  position:absolute;
  left:2px;
  top:8px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:255px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2263 {
  position:absolute;
  left:55px;
  top:235px;
  width:275px;
  height:255px;
}
#u2264 {
  position:absolute;
  left:2px;
  top:120px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2265 {
  position:absolute;
  left:92px;
  top:515px;
  width:200px;
  height:32px;
}
#u2266 {
  position:absolute;
  left:2px;
  top:7px;
  width:196px;
  word-wrap:break-word;
}
#u2267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2267 {
  position:absolute;
  left:73px;
  top:252px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2268 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2269 {
  position:absolute;
  left:312px;
  top:254px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:right;
}
#u2270 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2271 {
  position:absolute;
  left:73px;
  top:285px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2272 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2273 {
  position:absolute;
  left:312px;
  top:288px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:right;
}
#u2274 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2275_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2275 {
  position:absolute;
  left:73px;
  top:319px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2276 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2277 {
  position:absolute;
  left:312px;
  top:322px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:right;
}
#u2278 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2279 {
  position:absolute;
  left:73px;
  top:354px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2280 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2281 {
  position:absolute;
  left:312px;
  top:356px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:right;
}
#u2282 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:2px;
}
#u2283 {
  position:absolute;
  left:73px;
  top:277px;
  width:249px;
  height:1px;
}
#u2284 {
  position:absolute;
  left:2px;
  top:-8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:2px;
}
#u2285 {
  position:absolute;
  left:73px;
  top:310px;
  width:249px;
  height:1px;
}
#u2286 {
  position:absolute;
  left:2px;
  top:-8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:2px;
}
#u2287 {
  position:absolute;
  left:73px;
  top:345px;
  width:249px;
  height:1px;
}
#u2288 {
  position:absolute;
  left:2px;
  top:-8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2289 {
  position:absolute;
  left:66px;
  top:214px;
  width:61px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2290 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2291_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:110px;
  background:inherit;
  background-color:rgba(201, 201, 201, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2291 {
  position:absolute;
  left:52px;
  top:90px;
  width:280px;
  height:110px;
}
#u2292 {
  position:absolute;
  left:2px;
  top:47px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2293 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u2294 {
  position:absolute;
  left:66px;
  top:110px;
  width:54px;
  height:54px;
}
#u2295 {
  position:absolute;
  left:2px;
  top:19px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:44px;
}
#u2296 {
  position:absolute;
  left:71px;
  top:115px;
  width:44px;
  height:44px;
}
#u2297 {
  position:absolute;
  left:2px;
  top:14px;
  width:40px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:19px;
}
#u2298 {
  position:absolute;
  left:293px;
  top:128px;
  width:17px;
  height:19px;
}
#u2299 {
  position:absolute;
  left:2px;
  top:2px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2300 {
  position:absolute;
  left:380px;
  top:50px;
  width:270px;
  height:480px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2301 {
  position:absolute;
  left:2px;
  top:232px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2302 {
  position:absolute;
  left:380px;
  top:50px;
  width:270px;
  height:40px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2303 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u2304 {
  position:absolute;
  left:469px;
  top:64px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
  text-align:center;
}
#u2305 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u2306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u2306 {
  position:absolute;
  left:386px;
  top:59px;
  width:27px;
  height:28px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u2307 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2308 {
  position:absolute;
  left:423px;
  top:155px;
  width:216px;
  height:50px;
}
#u2309 {
  position:absolute;
  left:2px;
  top:17px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2310 {
  position:absolute;
  left:428px;
  top:165px;
  width:188px;
  height:34px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  word-wrap:break-word;
}
#u2312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:right;
}
#u2312 {
  position:absolute;
  left:469px;
  top:123px;
  width:91px;
  height:12px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#666666;
  text-align:right;
}
#u2313 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2314_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:49px;
  height:45px;
}
#u2314 {
  position:absolute;
  left:386px;
  top:160px;
  width:29px;
  height:34px;
  font-size:10px;
}
#u2315 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  word-wrap:break-word;
}
#u2316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u2316 {
  position:absolute;
  left:380px;
  top:490px;
  width:270px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#AEAEAE;
  text-align:left;
}
#u2317 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:40px;
  background:inherit;
  background-color:rgba(174, 174, 174, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u2318 {
  position:absolute;
  left:599px;
  top:490px;
  width:51px;
  height:40px;
  font-size:36px;
}
#u2319 {
  position:absolute;
  left:2px;
  top:-1px;
  width:47px;
  word-wrap:break-word;
}
#u2320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2320 {
  position:absolute;
  left:482px;
  top:230px;
  width:121px;
  height:32px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:8px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2322 {
  position:absolute;
  left:507px;
  top:240px;
  width:76px;
  height:17px;
  font-family:'', '微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2323 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:49px;
  height:45px;
}
#u2324 {
  position:absolute;
  left:612px;
  top:230px;
  width:29px;
  height:34px;
  font-size:10px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  word-wrap:break-word;
}
#u2326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2326 {
  position:absolute;
  left:73px;
  top:387px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2327 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2328 {
  position:absolute;
  left:312px;
  top:390px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:right;
}
#u2329 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2330_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2330 {
  position:absolute;
  left:73px;
  top:421px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2331 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2332 {
  position:absolute;
  left:312px;
  top:424px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:right;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#666666;
}
#u2334 {
  position:absolute;
  left:73px;
  top:456px;
  width:97px;
  height:17px;
  font-size:12px;
  color:#666666;
}
#u2335 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2336 {
  position:absolute;
  left:312px;
  top:458px;
  width:9px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  text-align:right;
}
#u2337 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:2px;
}
#u2338 {
  position:absolute;
  left:73px;
  top:412px;
  width:249px;
  height:1px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:-8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:2px;
}
#u2340 {
  position:absolute;
  left:73px;
  top:447px;
  width:249px;
  height:1px;
}
#u2341 {
  position:absolute;
  left:2px;
  top:-8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:2px;
}
#u2342 {
  position:absolute;
  left:73px;
  top:378px;
  width:249px;
  height:1px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:-8px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2344 {
  position:absolute;
  left:69px;
  top:164px;
  width:49px;
  height:17px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2345 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2346 {
  position:absolute;
  left:125px;
  top:127px;
  width:215px;
  height:40px;
  font-size:10px;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  word-wrap:break-word;
}
