body{
	background:#F7F7F9;
}
.mui-content{
	background:#F7F7F9;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color:#00ADB2;
}
.mui-bar{
	box-shadow:none;
	-webkit-box-shadow:none;
	background-color:#FFF;
}

.mui-search{
	position: absolute;
    z-index: 999;
    width: 94%;
    margin:3%;
}
.mui-search input[type=search] {
	background:#F9F9F9;
	color:#9EA6AE;
	height:30px;
}
.mui-search .mui-placeholder{
	color:#9EA6AE;
	font-size: 14px;
	height:30px;
	line-height:30px;
}

.mui-search .mui-placeholder .mui-icon{
	color:#9EA6AE;
}

.mui-search.mui-active:before{
	color:#9EA6AE;
}

.mui-slider-indicator .mui-indicator{
	width:9px;
	height:9px;
	background:#FFF;
	box-shadow: none;
	-webkit-box-shadow: none;
}

.mui-slider-indicator .mui-active.mui-indicator{
	background:#EC6B00;
	width:12px;
	height:12px;
}

.mui-grid-view.mui-grid-9{
	border:none;
	background:#FFF;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	border:none;
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-body{
	font-size:12px;
}
.mui-icon-sport{
	width: 45px;
    height: 45px;
}

.self-sport1{
	background:url(../images/sport1.png) no-repeat center center;
	background-size:42px 42px;
}

.self-sport2{
	background:url(../images/sport2.png) no-repeat center center;
	background-size:42px 42px;
}
.self-sport3{
	background:url(../images/sport3.png) no-repeat center center;
	background-size:42px 42px;
}
.self-sport4{
	background:url(../images/sport4.png) no-repeat center center;
	background-size:42px 42px;
}
.self-sport5{
	background:url(../images/sport5.png) no-repeat center center;
	background-size:42px 42px;
}
.self-sport6{
	background:url(../images/sport6.png) no-repeat center center;
	background-size:42px 42px;
}
.self-sport7{
	background:url(../images/sport7.png) no-repeat center center;
	background-size:42px 42px;
}
.self-sport8{
	background:url(../images/sport8.png) no-repeat center center;
	background-size:42px 42px;
}

.mui-grid-view.mui-grid-9 .mui-table-view-cell>a:not(.mui-btn){
	padding:0;
}

.mui-grid-view.mui-grid-view.mui-grid-9 .mui-table-view-cell{
	width:25%;
}

.p-0{
	padding:0 !important;
}
.m-0{
	margin:0 !important;
}
.float-l{
	float:left;
}

.float-r{
	float:right;
}
.mui-table-view:before{
	height:0;
}
.mui-table-view:after{
	height:0;
}
.recommend{
	background:#FFF;
	margin:6px 0;
}
.recommed-left{
	width:50%;
	float:left;
	border-right:1px solid #FFF;
}
.recommend-right{
	width:50%;
	float:right;
	border-left:1px solid #FFF;
}
.mui-table-view .mui-media-img{
	display: block;
	max-width: 100%;
	height: auto;
	width:100%;
}
.recommed-left .mui-table-view.mui-grid-view, .recommend-right .mui-table-view.mui-grid-view{
	margin-bottom:0;
}
.mui-table-view.mui-grid-view{
	margin-bottom:8px;
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-text{
	text-align: left;
    padding: 10px;
    font-size: 14px;
}

.mui-table-view.mui-grid-view .mui-table-view-cell.mui-media-title{
	text-align: left;
    padding: 8px;
    font-size: 14px;
    margin-right: 0;
}

.mui-table-view.mui-grid-view .mui-table-view-cell.mui-media-title .mui-ellipsis-2{
	color:#383838;
}

.mui-table-view.mui-grid-view .mui-table-view-cell{
	width:100%;
}

.mui-table-view.mui-grid-view .mui-table-view-cell .mui-media-text .mui-ellipsis{
	font-size:12px;
}
.mui-table-view.mui-grid-view .mui-table-view-cell .mui-h5{
	position:relative;
    right: 24px;
    top: -2px;
}

.icon-fire{
	font-size: 20px;
    color: #E94128;
	float: left;
    margin: 3px 5px 0 0;
}
/**************************产品列表*****************************/
.mui-bar.mui-bar-nav{
	background:#00ADB2;
}
.mui-bar .mui-title{
	color:#FFF;
}
.mui-bar .mui-btn-nav.mui-pull-left{
	color:#FFF;
}

.mui-table-view.self-table-view{
	top:44px;
	margin-top: 8px;
}
.mui-navigate-right:after, .mui-push-right:after{
	margin-top:1px;
}

.mui-content>.mui-table-view.self-menu-select:first-child{
	margin-top:0;
}
.mui-collapse{
	border-right:1px solid #DEDFE0;
}

.mui-table-view-cell.mui-active{
	color:#FF6A22;
	background:none;
}

.mui-table-view-cell.mui-collapse.mui-active>.mui-navigate-right:after, .mui-table-view-cell.mui-collapse.mui-active>.mui-push-right:after{
	color:#FF6A22;
}
.self-menu-select .mui-table-view-cell:after{
	background:none;
}
.self-menu-select{
	position:fixed;
	z-index:1111;
	height:44px;
}
.self-menu-select li{
	display:table-cell;
	font-size:13px;
    width: 1%;
}
.self-drop-menu{
	background:#FFF;
	margin-top:0;
}
			
.self-drop-menu .mui-table-view-cell{
	height:48px;
	font-size:15px;
	color: #777777;
	text-align:left;
	border-left:4px solid #FFF;
}
.self-drop-menu .mui-table-view-cell:hover{
	border-left:4px solid #FF6A22;
	background:#F8F9FA;
}
.menu-open {
	height: 100%;
	width: 100%;
}
.menu-open .mui-scroll-wrapper {
	position: absolute;
	top: 48;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
}
.menu-backdrop {
	display: none;
}
.menu-open .menu-backdrop {
	position: fixed;
	top: 88px;
	bottom: 0;
	height: 100%;
	width: 100%;
	display: block;
	z-index: 998;
}
.menu-wrapper {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 999;
	text-align: center;
    background-color: rgba(0,0,0,0.2);
	width: 100%;
	height:100%;
	overflow: scroll;
    padding-bottom: 45px;
    padding-top: 44px;
}
.menu-wrapper.hidden {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
	z-index: -1;
}
.menu {
	width: 100%;
}
.menu .mui-table-view-inverted {
	color: gray;
	font-size: 19px;
}
.menu .mui-table-view-inverted .mui-table-view-cell:after {
	height: 2px;
	left: 0;
	right: 0;
}
.menu-wrapper.mui-active,
.menu-wrapper.mui-active .menu {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

h5.mui-ellipsis-2{
	color: #303030;
    line-height: 20px;
}
.mui-ellipsis{
	color:#FF6A22;
}

.self-media-object1{
	max-width: 20%;
    height: auto;
}

.mui-table-view .self-media-object1.mui-pull-left{
	padding-right:10px;
}


@media (max-width: 640px){
	.self-media-object1{
		max-width: 40%;
    	height: auto;
	}
}	
@media(max-width:480px){
	.self-media-object1{
		max-width: 36%;
    	height: auto;
	}
	.mui-h5, h5{
		font-size:13px;
	}
}
@media(max-width:360px){
	.self-media-object1{
		max-width: 42%;
    	height: auto;
	}
	.mui-h5, h5{
		font-size:13px;
	}
}
/***********产品分类***************/
.mui-content>.mui-table-view:first-child{
	margin-top:0;
}
.self-cover-title{
	color: #FFF;
    font-size: 14px;
    text-align: center;
    opacity: .7;
    height: 34px;
    line-height: 34px;
}

.mui-slider-indicator.mui-segmented-control{
	background:#FFF;
}

.mui-segmented-control.mui-segmented-control-inverted~.mui-slider-progress-bar{
	background-color:#FF6A22;
}

.mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active{
	color:#FF6A22;
}
