body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1230px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3641_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:4740px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3641 {
  position:absolute;
  left:20px;
  top:20px;
  width:1200px;
  height:4740px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3642 {
  position:absolute;
  left:2px;
  top:2362px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:66px;
}
#u3643 {
  position:absolute;
  left:40px;
  top:39px;
  width:60px;
  height:65px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3644 {
  position:absolute;
  left:2px;
  top:20px;
  width:56px;
  word-wrap:break-word;
}
#u3645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:4639px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3645 {
  position:absolute;
  left:20px;
  top:121px;
  width:160px;
  height:4639px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3646 {
  position:absolute;
  left:2px;
  top:2312px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3647_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1113px;
  height:5px;
}
#u3647 {
  position:absolute;
  left:20px;
  top:119px;
  width:1110px;
  height:2px;
}
#u3648 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u3649 {
  position:absolute;
  left:180px;
  top:78px;
  width:452px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u3650 {
  position:absolute;
  left:0px;
  top:0px;
  width:452px;
  word-wrap:break-word;
}
#u3651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3651 {
  position:absolute;
  left:960px;
  top:87px;
  width:120px;
  height:28px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u3652 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u3653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3653 {
  position:absolute;
  left:1050px;
  top:80px;
  width:60px;
  height:27px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u3654 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u3655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:572px;
}
#u3655 {
  position:absolute;
  left:40px;
  top:149px;
  width:140px;
  height:572px;
}
#u3656 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u3657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u3657 {
  position:absolute;
  left:50px;
  top:620px;
  width:101px;
  height:30px;
}
#u3658 {
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3659 {
  position:absolute;
  left:200px;
  top:156px;
  width:89px;
  height:20px;
  font-size:14px;
}
#u3660 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u3661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1031px;
  height:2px;
}
#u3661 {
  position:absolute;
  left:200px;
  top:193px;
  width:1030px;
  height:1px;
}
#u3662 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3663 {
  position:absolute;
  left:210px;
  top:214px;
  width:57px;
  height:16px;
  font-size:14px;
}
#u3664 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  visibility:hidden;
  white-space:nowrap;
}
#u3665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3665 {
  position:absolute;
  left:200px;
  top:214px;
  width:66px;
  height:20px;
  font-size:14px;
}
#u3666 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u3667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u3667 {
  position:absolute;
  left:210px;
  top:255px;
  width:57px;
  height:20px;
  font-size:14px;
}
#u3668 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3669 {
  position:absolute;
  left:280px;
  top:209px;
  width:280px;
  height:26px;
  text-align:left;
}
#u3670 {
  position:absolute;
  left:2px;
  top:5px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3671 {
  position:absolute;
  left:280px;
  top:250px;
  width:280px;
  height:26px;
  text-align:left;
}
#u3672 {
  position:absolute;
  left:2px;
  top:1px;
  width:276px;
  word-wrap:break-word;
}
#u3673 {
  position:absolute;
  left:280px;
  top:300px;
  width:150px;
  height:30px;
}
#u3673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u3673_input {
  font-family:'应用字体';
}
