<div ng-controller="modifPwdCtrl" >	
	<div class="panel self-panel" style="width: 350px;margin: 70px 0 0 150px;">
		<div class="panel-heading">
			修改密码
		</div>
		<div class="panel-body">
            <div class="form-bottom">
                <form role="form" name="updatePwdForm"  class="login-form" dw-loading="modifPwd" dw-loading-options="{active: false,text: '数据加载中，请稍后...',spinnerOptions: {color: '#00C4CA'}}">
                    <div class="form-group">
                    	
                    	<input type="password" name="form-password1" placeholder="旧密码" ng-model="user.oldPassword" class="form-password form-control" id="form-phone" required>
                    </div>
                    <div class="form-group">
                    	<input type="password" name="form-password2" placeholder="新密码" ng-model="user.newPassword" class="form-password form-control" required>
                    </div>
                    <div class="form-group">
                    	<input type="password" name="form-password3" placeholder="验证新密码" ng-model="user.newPassword2" class="form-password form-control" required>
                    </div>	                        
                    <button class="btn bg-primary" ng-disabled="updatePwdForm.$invalid" ng-click="updatePassword(user);">提交修改</button>
                </form>
            </div>
		</div>
	</div>
</div>