body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1190px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
  line-height:28px;
}
#u1093 {
  position:absolute;
  left:630px;
  top:218px;
  width:560px;
  height:28px;
  font-size:14px;
  color:#FF0000;
  line-height:28px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u1095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
  line-height:28px;
}
#u1095 {
  position:absolute;
  left:60px;
  top:290px;
  width:560px;
  height:28px;
  font-size:14px;
  color:#FF0000;
  line-height:28px;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u1097 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:260px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1098 {
  position:absolute;
  left:60px;
  top:100px;
  width:560px;
  height:260px;
}
#u1099 {
  position:absolute;
  left:2px;
  top:122px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1100 {
  position:absolute;
  left:456px;
  top:306px;
  width:67px;
  height:34px;
}
#u1100_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1100_input {
  font-family:'应用字体';
}
#u1101 {
  position:absolute;
  left:533px;
  top:306px;
  width:67px;
  height:34px;
}
#u1101_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:34px;
  background-color:transparent;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1101_input {
  font-family:'应用字体';
}
#u1102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1102 {
  position:absolute;
  left:146px;
  top:174px;
  width:427px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  white-space:nowrap;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1104 {
  position:absolute;
  left:76px;
  top:119px;
  width:57px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1105 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1106 {
  position:absolute;
  left:170px;
  top:259px;
  width:150px;
  height:18px;
}
#u1107 {
  position:absolute;
  left:16px;
  top:0px;
  width:132px;
  word-wrap:break-word;
}
#u1106_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1108 {
  position:absolute;
  left:170px;
  top:218px;
  width:100px;
  height:18px;
}
#u1109 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1108_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1110 {
  position:absolute;
  left:270px;
  top:215px;
  width:200px;
  height:25px;
}
#u1110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1110_input {
  font-family:'应用字体';
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0000;
  line-height:28px;
}
#u1111 {
  position:absolute;
  left:630px;
  top:256px;
  width:560px;
  height:56px;
  font-size:14px;
  color:#FF0000;
  line-height:28px;
}
#u1112 {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  word-wrap:break-word;
}
#u1113 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:200px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1114 {
  position:absolute;
  left:60px;
  top:377px;
  width:370px;
  height:200px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:92px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1116 {
  position:absolute;
  left:237px;
  top:516px;
  width:71px;
  height:34px;
}
#u1116_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1116_input {
  font-family:'应用字体';
}
#u1117 {
  position:absolute;
  left:318px;
  top:516px;
  width:71px;
  height:34px;
}
#u1117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:34px;
  background-color:transparent;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u1117_input {
  font-family:'应用字体';
}
#u1118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1118 {
  position:absolute;
  left:102px;
  top:450px;
  width:287px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1119 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u1120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1120 {
  position:absolute;
  left:74px;
  top:396px;
  width:29px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u1122 {
  position:absolute;
  left:60px;
  top:155px;
  width:560px;
  height:1px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:35px;
}
#u1124 {
  position:absolute;
  left:562px;
  top:112px;
  width:38px;
  height:35px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:10px;
  width:34px;
  visibility:hidden;
  word-wrap:break-word;
}
