@charset "utf-8";
/* CSS Document */
body {
    background-image: url(../images/bg.png);
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    line-height: 24px;
}
.main_box {
    top: 50px; margin: 0 auto; width: 1200px; position: relative;
}
.box_list {
    margin-top: -8px;
    padding: 10px 10px;
    background-color: white;
    border-left: 2px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.box_list table td {
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    color: #333333;
}
    .box_list table td input[type="button"] {
        width: 95px;
        padding: 5px;
        margin: 15px 15px 15px 0;
        border: 0;
        border-radius: 4px;
        box-shadow: 1px 1px 2px #b6b6b6;
        -webkit-box-shadow: 1px 1px 2px #b6b6b6;
        -moz-box-shadow: 1px 1px 2px #b6b6b6;
        margin-right: 5px;
    border: none;
    cursor: pointer;
    /*background-color: #2ea09e;*/
    color: #ffffff;
    }
.box_list table td label {
    font-weight: bolder;
}
.box_list table td span {
    padding-left: 5px;
    padding-right: 50px;
    color: red;
}
.box_list table td a {
  color: #2ea09e;
}
.btn1 {
    background-color: #2ea09e;
}
.btn2 {
    background-color: #ff4000;
}
.btn3 {
    background-color: #ff4066;
}
.btnDisabled {
    background-color: #999;
    cursor: none;
}